# Automations to save the last valid value when the sensor is available

- alias: Save last valid pH value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_ph
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_ph') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.ph_last_valid
        value: "{{ states('sensor.water_quality_ph') | float }}"

- alias: Save last valid ORP value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_oxidation_reduction_potential
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_oxidation_reduction_potential') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.orp_last_valid
        value: "{{ states('sensor.water_quality_oxidation_reduction_potential') | float }}"

- alias: Save last valid Temperature value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_temperature
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_temperature') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.temperature_last_valid
        value: "{{ states('sensor.water_quality_temperature') | float }}"

- alias: Save last valid TDS value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_total_dissolved_solids
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_total_dissolved_solids') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.tds_last_valid
        value: "{{ states('sensor.water_quality_total_dissolved_solids') | float }}"

- alias: Save last valid Conductivity value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_electrical_conductivity
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_electrical_conductivity') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.conductivity_last_valid
        value: "{{ states('sensor.water_quality_electrical_conductivity') | float }}"

- alias: Save last valid Salinity value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_salinity
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_salinity') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.salinity_last_valid
        value: "{{ states('sensor.water_quality_salinity') | float }}"

- alias: Save last valid Specifig Gravity value
  trigger:
    - platform: state
      entity_id: sensor.water_quality_specific_gravity
  condition:
    - condition: template
      value_template: "{{ states('sensor.water_quality_specific_gravity') not in ['unknown', 'unavailable', 'none'] }}"
  action:
    - service: input_number.set_value
      data:
        entity_id: input_number.density_last_valid
        value: "{{ states('sensor.water_quality_specific_gravity') | float }}"
